<div class="landing-wrapper">
  <div class="landing-container">

    <div class="my-ballot">
      <div class="ballot-content">
        <h2 class="title">Ballot</h2>
        <div class="subtitle">0 / 2 Completed</div>
        <p>
          To vote on a position or change a selection, select a position's title below.
        </p>

        <div class="position">
          <span class="position-title">Position A</span>
          <span class="position-href">0 / 1 Selected</span>
        </div>

        <div class="position">
          <span class="position-title">Position B</span>
          <span class="position-href">0 / 1 Selected</span>
        </div>

      </div>
    </div>

    <div class="landing-success">
      <div class="success-content">

        <h2 class="title">Success !</h2>

        <p>Your PIN and the last 4 digits of your Social Security number have been accepted, and you are now logged in.
        </p>

        <p>By submitting my vote online, I HEARBY CERTIFY UNDER PENALTY OF PERJURY that I was an active or retired
          member
          of the California Public Employees' Retirement System (CalPERS) on or before July 1, 2019 and therefore I am
          eligible to participate in this election and that I personally vote the ballot to be submitted online.</p>

        <p>Select <b>Start Voting</b> below to access your ballot and begin voting. </p>

        <p>
          If you need help, select <b>Help</b> in the menu bar.
        </p>

      </div>
    </div>
  </div>

  <div class="landing-footer">

    <div class="my-ballot">

      <div class="ballot-review">

        <button type="button" class="btn ballot-review-btn">
          Review my ballot
        </button>

      </div>

    </div>

    <div class="landing-success">

      <div class="start-voting">

        <button type="button" class="btn start-voting-btn">
          Start Voting
          <div>></div>
        </button>

      </div>

    </div>

  </div>

</div>