<div class="voting-container" *ngIf="model != null">

  <div class="row row-centered pos">

    <div *ngIf="!model.VotingIsOpen" class="login-screen-message">
      <div innerHTML="{{model.LoginScreenCloseMessage}}"></div>
    </div>

    <div *ngIf="model.VotingIsOpen">

      <form [formGroup]="formGroup" (ngSubmit)="submit()">

        <div class="form-group-container">

          <div *ngIf="model.VotingIsOpen" innerHTML="{{model.LoginScreenOpenMessage}}"></div>

          <div class="form-group" *ngIf="errorMessage != ''">
            <div class="validation-summary-errors text-danger">
              {{errorMessage}}
            </div>
          </div>

          <div class="form-group">
            <label for="LoginId">{{model.LoginIdLabelTxt}}</label>
            <div class="col-md-12">
              <input autofocus="autofocus" class="form-control shadow-none" formControlName="LoginId" id="LoginId"
                name="LoginId" type="password">
            </div>
            <div class="col-md-12">
              <span *ngIf="submitted && formGroup.get('LoginId').errors && formGroup.get('LoginId').errors.required"
                class="error-message text-danger">{{validationMessages.LoginId.Required}}</span>

              <span *ngIf="submitted && formGroup.get('LoginId').errors && formGroup.get('LoginId').errors.minlength"
                class="error-message text-danger">{{validationMessages.LoginId.MinLength}}</span>

              <span *ngIf="submitted && formGroup.get('LoginId').errors && formGroup.get('LoginId').errors.maxlength"
                class="error-message text-danger">{{validationMessages.LoginId.MaxLength}}</span>

              <span *ngIf="submitted && formGroup.get('LoginId').errors && formGroup.get('LoginId').errors.pattern"
                class="error-message text-danger">{{validationMessages.LoginId.RegularExpression}}</span>
            </div>
          </div>

          <div class="form-group">
            <label for="LoginPin">{{model.LoginPinLabelTxt}}</label>
            <div class="col-md-12">
              <input class="form-control shadow-none" id="LoginPin" name="LoginPin" formControlName="LoginPin"
                type="password">
            </div>
            <div class="col-md-12">
                <span *ngIf="submitted && formGroup.get('LoginPin').errors && formGroup.get('LoginPin').errors.required"
                  class="error-message text-danger">{{validationMessages.LoginPin.Required}}</span>
  
                <span *ngIf="submitted && formGroup.get('LoginPin').errors && formGroup.get('LoginPin').errors.minlength"
                  class="error-message text-danger">{{validationMessages.LoginPin.MinLength}}</span>
  
                <span *ngIf="submitted && formGroup.get('LoginPin').errors && formGroup.get('LoginPin').errors.maxlength"
                  class="error-message text-danger">{{validationMessages.LoginPin.MaxLength}}</span>
  
                <span *ngIf="submitted && formGroup.get('LoginPin').errors && formGroup.get('LoginPin').errors.pattern"
                  class="error-message text-danger">{{validationMessages.LoginPin.RegularExpression}}</span>
              </div>
          </div>

        </div>

        <div class="elect-toolbar bottom">
          <div class="toolbar-background"></div>
          <div class="toolbar-content">
            <div class="elect-action">
              <button type="submit" class="action-button">Log in</button>
            </div>
          </div>
        </div>

      </form>




    </div>


  </div>
</div>