@import "../../../../../../Content/scss/ec_variables";

.form-group-container,
.login-screen-message {
  background-color: #f3f3f3;
  padding: 35px;
  margin: 35px;
}

.form-group {
  margin-top: 20px;
}

.form-group label {
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
}

.action-button {
  text-transform: uppercase;
  width: 50% !important;
  padding: 25px 0px;
  line-height: 0px;
  color: #004e7a;
  border-color: #004e7a;
  font-weight: 700;
  margin-bottom: 50px;
}

.error-message {
  font-size: 75%;
}

.application-container {
  width: 100%;
}

.voting-container {  
  @media screen and (min-width: $breakpoint-mobile-lg) {
    margin-top:20px;
  } 
}
